<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link rel="stylesheet" href="/normalize.css" />
        <link rel="stylesheet" href="/skeleton.css" />
        <link rel="stylesheet" href="/indexschedule.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="topnav">
            <% if(currentUser) { %>
            <a href="/">Home</a>
            <a href="/classes">Classes</a>
            <a class="active" href="/classes/scheduler">Scheduler</a>
            <a href="/classes/new">New Class</a>
            <a id="user" href="">Hello <%=user.name %></a>
            
            <form action="/sessions?_method=DELETE" method="POST">
                <input type="submit" value="Log Out" />
            </form>
            <% } else { %>
            <a href="/">Home</a>
            <a class="active" href="/classes">Classes</a>
            <a href="/classes/new">New Class</a>
            <a href="/about">About</a>
            <a id="signin" href="/users/new">Register</a>
            <a id="signin1" href="/sessions/new">Login</a>
            <% } %>
        </div><br>
        <div class="container">
            <h1>Keep your classes organized</h1>
            <% if(currentUser) { %>
            <table>
                <thead>
                    <tr>
                        <th>Info:</th>
                        <th>Class:</th>
                        <th>Notes:</th>
                        <th>Status:</th>
                    </tr>
                </thead>
                <% for(let i = 0; i < schedules.length; i++) { %>  
                    <% if (schedules[i].userId == currentUser){ %>
                        <tr>
                            <td style="width: 60px;">
                                <button onclick="window.location.href='/classes/scheduler/<%=schedules[i].id%>'">More info</button>
                                <form action="/classes/scheduler/<%=schedules[i].id%>?_method=DELETE" method="POST">
                                <input type="submit" value="DELETE" />
                                </form>  
                            </td>
                            <td>
                            <%=usedClasses[i].name;%>
                            </td>
                            <td>   
                            <%=schedules[i].note %>
                            </td>
                            <td style="width: 100px;">
                                <% if(schedules[i].completed === false){ %>
                                    Incomeplete!
                                <% } else { %>
                                    Completed!
                                <% } %>
                            </td>
                        </tr>
                    <% } %>
                <% } %>
            </table>
            <% } %>
        </div>
        <script src="" async defer></script>
    </body>
</html>