<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link rel="stylesheet" href="/normalize.css" />
        <link rel="stylesheet" href="/skeleton.css" />
    </head>
    <body>
        <div class="topnav">
            <% if(currentUser) { %>
            <a href="/">Home</a>
            <a class="active" href="/classes">Classes</a>
            <a href="/classes/scheduler">Scheduler</a>
            <a href="/classes/new">New Class</a>
            
            <form action="/sessions?_method=DELETE" method="POST">
                <input type="submit" value="Log Out" />
            </form>
            <% } else { %>
            <a href="/">Home</a>
            <a class="active" href="/classes">Classes</a>
            <a href="/classes/new">New Class</a>
            <a href="/about">About</a>
            <a id="signin" href="/users/new">Register</a>
            <a id="signin1" href="/sessions/new">Login</a>
            <% } %>
        </div><br>
        <div class="container">
            <!-- <button onclick="window.location.href='/classes'">Back</button> -->
            
            <!-- <button onclick="window.location.href='/classes/scheduler/<%= classe._id %>'">Add Class</button> -->
            <h1><%=classe.name %></h1>
            <img src="<%=classe.img %>"> <form action="/classes/scheduler" method="POST">
                <input type="hidden" name="classId" value="<%=classe._id %>"/><br />
                <input id="right" type="submit" value="Add Class" />
            </form> <br>
            <table>
                <tr>
                    <td>
                       The instructor:<br> <%=classe.instructor %>
                    </td>
                    <td>
                        Description:<br><%=classe.description %>
                    </td>
                    <td>
                        The price: <br>$<%=classe.price %>
                    </td>
                    <td>
                        The class can be taken <br><%=classe.day %>
                    </td>
                </tr>
            </table>
        </div>
        <style type="text/css">
            body {
                    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("https://images.unsplash.com/photo-1564769662533-4f00a87b4056?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=7952&q=80");
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-attachment: fixed;
                    font-size: 25px;
                    font-weight: bold;
                    font-family: Didot, serif;
                }
                button{
                color:white;
                background-color: #282828;
                /* width: auto; */
                }
                .topnav {
                overflow: hidden;
                background-color: #333;
                }

                .topnav a {
                float: left;
                color: #f2f2f2;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 17px;
                }

                .topnav a:hover {
                background-color: #ddd;
                color: black;
                }

                .topnav a.active {
                background-color: #04AA6D;
                color: white;
                }
                #signin {
                    float: right;
                }
                img {
                    border-radius: 25px;
                    height: 200px;
                    width: 200px;
                }
                input[type=submit]{
                color:white;
                background-color: #282828;
                float: right;
                /* width: 110px; */
                }
                form {
                    padding-top: 10px;
                    padding-right: 10px;
                }
                #right {
                    float: left;
                }
            </style>
    </body>
</html>