<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link rel="stylesheet" href="/normalize.css" />
        <link rel="stylesheet" href="/skeleton.css" />
        <link rel="stylesheet" href="/showsched.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="topnav">
            <% if(currentUser) { %>
            <a href="/">Home</a>
            <a href="/classes">Classes</a>
            <a class="active" href="/classes/scheduler">Scheduler</a>
            <a href="/classes/new">New Class</a>
            
            <form action="/sessions?_method=DELETE" method="POST">
                <input type="submit" value="Log Out" />
            </form>
            <% } else { %>
            <a href="/">Home</a>
            <a class="active" href="/classes">Classes</a>
            <a href="/classes/new">New Class</a>
            <a href="/about">About</a>
            <a id="signin" href="/users/new">Register</a>
            <a id="signin1" href="/sessions/new">Login</a>
            <% } %>
        </div><br>
        <div class="container">
            <button onclick="window.location.href='/classes/scheduler'">Back</button><br>
            <button onclick="window.location.href='/classes/scheduler/<%=schedule._id %>/edit'">Edit</button><br>
            <form id="left" action="/classes/scheduler/<%=schedule._id %>?_method=DELETE" method="POST">
                <input type="submit" value="DELETE" />
            </form>
            <h1><%=clas.name %>&nbsp;&nbsp;<img src="<%=clas.img %>"></h1>
            <table>
                <thead>
                    <tr>
                        <th>Instructor:</th>
                        <th>Overview:</th>
                    </tr>
                </thead>
                <tr>
                    <td>
                        <%=clas.instructor %>
                    </td>
                    <td>
                        <%=clas.description %>
                    </td>
                </tr>
                <thead>
                    <tr>
                        <th>Price:</th>
                        <th>Available</th>
                    </tr>
                </thead>
                <tr>
                     <td>
                        $<%=clas.price %>
                    </td>
                    <td>
                        <%=clas.day %>
                    </td>
                </tr>
                <thead>
                    <tr>
                        <th>Course Status:</th>
                        <th>Course Notes:</th>
                    </tr>
                </thead>
                    <tr>
                        <td>
                            <% if(schedule.completed === false){ %>
                                Incomeplete
                           <% } else { %>
                                Completed!
                            <% } %>
                        </td>
                        <td>
                            <%=schedule.note %>
                        </td>
                    </tr>
                </table>
            </div>
        <style type="text/css">
           
            </style>
    </body>
</html>