<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link rel="stylesheet" href="/normalize.css" />
        <link rel="stylesheet" href="/skeleton.css" />
        <link rel="stylesheet" href="/show.css" />
    </head>
    <body>
        <div class="topnav">
            <% if(currentUser) { %>
            <a href="/">Home</a>
            <a class="active" href="/classes">Classes</a>
            <a href="/classes/scheduler">Scheduler</a>
            <a href="/classes/new">New Class</a>
            
            <form action="/sessions?_method=DELETE" method="POST">
                <input type="submit" value="Log Out" />
            </form>
            <% } else { %>
            <a href="/">Home</a>
            <a class="active" href="/classes">Classes</a>
            <a href="/classes/new">New Class</a>
            <a href="/about">About</a>
            <a id="signin" href="/users/new">Register</a>
            <a id="signin1" href="/sessions/new">Login</a>
            <% } %>
        </div><br>
        <div class="container">
            <button onclick="window.location.href='/classes'">Back</button>
            <form action="/classes/scheduler" method="POST">
                <input type="hidden" name="classId" value="<%=classe._id %>"/>
                <input type="hidden" name="userId" value="<%=currentUser%>"/>
                <input id="right" type="submit" value="Add Class" />
            </form> <br>
            <!-- <button onclick="window.location.href='/classes/scheduler/<%= classe._id %>'">Add Class</button> -->
            <h1><%=classe.name %></h1>
            <img src="<%=classe.img %>"> 
            <table>
                <tr>
                    <td>
                       The instructor:<br> <%=classe.instructor %>
                    </td>
                    <td>
                        Description:<br><%=classe.description %>
                    </td>
                    <td>
                        The price: <br>$<%=classe.price %>
                    </td>
                    <td>
                        The class can be taken <br><%=classe.day %>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>